click==8.0.0
colorama==0.4.4
Flask==2.0.0
Flask-Cors==3.0.10
isodate==0.6.0
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pyparsing==2.4.7
rdflib==5.0.0
REfO==0.13
six==1.16.0
SPARQLWrapper==1.8.5
Werkzeug==2.0.1
